bitarray==3.10.1
bitstring==4.4.0
cffi==2.1.1
click==8.4.2
cryptography==50.0.0
esptool==5.3.1
greenlet==3.5.4
intelhex==2.3.0
littlefs-python==0.18.0
markdown-it-py==4.2.0
mdurl==0.1.2
mpremote==1.28.0
pip==26.2.1
platformdirs==4.11.1
playwright==1.62.0
pycparser==3.0
pyee==13.0.1
pygments==2.20.0
pyserial==3.5
pyyaml==6.0.3
reedsolo==1.7.0
rich==15.0.0
rich-click==1.9.8
tibs==0.5.7
typing-extensions==4.16.0
